$colorMain:	#0f2c56;
$colorBackground: #eee;
$colorColumnHead: rgba(54,160,173,1);
$colorColumnBackground: rgba(54,160,173,0.3);
@font-face{
	font-family: "font-title";
	src: url(../font/mensch-bold-wf.ttf);
}
body,header,div,h2{
	margin: 0;
	padding: 0;
}
body{
	background: $colorBackground;
	#titleContainer{
		width: 100%;
		height: 100px;
		background-color: $colorMain;
		.title{
			float: left;	
			height: 100%;
			line-height: 100px;
			font-size: 60px;
			color: #fff;
			padding-left: 20px;
			font-family: "font-title";
		}
		.timeContainer{
			background:rgba(225,225,225,0.2);
			width: 166px;
			height: 60px;
			margin-top: 18px;
			padding-left: 10px;
			padding-right: 10px;
			border-radius: 5px;
			border: 2px solid #fff;
			float: right;
			margin-right: 20px;
			font-family: arial;
			font-size: 40px;
			font-weight: bold;
			line-height: 60px;
			color: #fff;
		}
	}
}
#container{
	position: relative;
	width: 80%;
	height: 1000px;
	margin: 0 auto;
	margin-top: 20px;
}
.infoContainer{
	width:100%;
	height:100%;
	background:$colorColumnBackground;
	position:relative;
	bottom: 0;
	transition: 0.5s;
	.infoTitle{
		background: $colorColumnHead;
		height: 40px;
		font-size: 20px;
		font-family: arial;
		color: #fff;
		line-height: 40px;
		text-align: center;
		cursor: pointer;
	}
	.infoContent{
		padding: 10px;
		.itemAttackers{
			border-radius: 3px;
			padding-left:10px;
			box-sizing:border-box;
			width: 100%;
			height: 30px;
			background: rgba(255,255,255,0.3);
			margin-bottom: 10px;
			font-family: arial;
			font-size: 14px;
			line-height: 30px;
			color: #666;
		}
	}
}
.industries{
	width:100%;
	height:100%;
	background:$colorColumnBackground;
	position:relative;
	bottom: 0;
	transition: 0.5s;
	.infoTitle{
		background: $colorColumnHead;
		height: 40px;
		font-size: 20px;
		font-family: arial;
		color: #fff;
		line-height: 40px;
		text-align: center;
		cursor: pointer;
	}
	.infoContent{
		padding: 10px;
		.itemIndustries{
			border-radius: 3px;
			padding-left:10px;
			box-sizing:border-box;
			width: 100%;
			height: 30px;
			background: rgba(232,67,67,0.3);
			margin-bottom: 10px;
			font-family: arial;
			font-size: 14px;
			line-height: 30px;
			color: #fff;
		}
	}
}
#attackers{
	position: fixed;
	left:0;
	bottom:0;
	width:40%;
	height:300px;
}
#industries{
	position: fixed;
	right: 0;
	bottom:0;
	width:40%;
	height:300px;
}
#links{
	position:fixed;
	top:200px;
	right:0;
	.link{
		float: right;
		width: 50px;
		height: 50px;
		margin-bottom:2px;
		cursor: pointer;
		text-align: center;
		transition: 0.2s;
	}
	.link1{
		background: #007bb6;
	}
	.link2{
		background: #00acee;
	}
	.link3{
		background: #3a5897;
	}
	.link4{
		background: #dd4f43;
	}
	.link:hover{
		padding-left: 10px;
		padding-right: 10px;
	}
}
.clear{
	clear:both;
}